{{ partial "head.html" . }}
<body>
   {{ partial "nav.html" . }}

    <section id="wrapper">
        <article class="post">
            <header>
                <h1>
                    {{ .Title }}
                </h1>

                {{ if eq .Type "post" }}
                    <h2 class="headline">
                        <time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05-0700" }}">
                            {{ .Date.Format "Jan 2, 2006" }}
                        </time>
                        &middot;
                        <span class="word-count">
                            {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                        </span>
                        &middot;
                        <span class="reading-time">
                            {{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}
                        </span>
                        <span class="tags">
                            {{ with .Params.tags }}
                                {{ if ge (len .) 1 }}
                                    {{ range . }}
                                        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a>
                                    {{ end }}
                                {{ end }}
                            {{ end}}
                        </span>
                    </h2>
                {{ end }}
            </header>
            {{ if .Site.Params.enableToc }}
                {{ if .TableOfContents }}
                    <div id="toc">
                        {{ .TableOfContents }}
                    </div>
                {{ end }}
            {{ end }}
            <section id="post-body">
                {{ .Content }}
                {{ if eq .Title "Search" }} {{ partial "search.html" }} {{ end }}
            </section>
        </article>

        {{ if eq .Type "post" }}
            
            {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                {{ $.Scratch.Set "has_related" true }}
            {{ end }}

            {{ if $.Scratch.Get "has_related" }}
                <div class="related-content">
                    <h3>Related Posts</h3>
                    <ul>
                        {{ $num_to_show := .Site.Params.related_content_limit | default 3 }}
                            {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                            <li>
                                <a href="{{ .RelPermalink }}">
                                    {{ .Title }}
                                </a>
                                &ndash; 
                                <time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05-0700" }}">
                                    {{ .Date.Format "Jan 2, 2006" }}
                                </time>
                                <br> 
                                <small>{{ .Summary }}</small>
                                <!-- <small>{{ slicestr .Summary 0 120 }}</small> -->
                            </li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}


            <i class="fa fa-ellipsis-h page-separator" aria-hidden="true"></i>

            <div class="about-area">
                <img src="/images/author-edd-80.jpg" alt="Image of Author Edd Turtle" width="80" height="80">
                <a href="https://twitter.com/eddturtle" class="twitter-follow-button" data-lang="en" data-dnt="true" data-show-count="false">
                    Follow @EddTurtle
                </a>
                <a href="https://twitter.com/golangcode" class="twitter-follow-button" data-lang="en" data-dnt="true" data-show-count="false">
                    Follow @golangcode
                </a>
                <h3>Author: Edd Turtle</h3>
                <p>Edd is the Lead Developer at Hoowla, a prop-tech startup, where he spends much of his time working on production-ready Go and PHP code.</p>
            </div>

            <p>See something which isn't right? You can contribute to this page <a href="https://github.com/eddturtle/golangcode-site">on GitHub</a> or just let us know in the comments below. Thanks for reading!</p>

            {{ if .Site.Params.enableGithubIssuesTips }}
                {{ partial "github-issues-tip.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDisqus }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDuoshuo }}
                {{ partial "duoshuo.html" . }}
            {{ end }}
        {{ end }}

        {{ partial "footer.html" . }}
    </section>

    {{ partial "js.html" . }}
</body>
</html>