<footer id="footer" role="contentinfo">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    <p class="small">
      Code shown Licenced under <a href="https://github.com/eddturtle/golangcode-site/blob/master/LICENSE">MIT Licence</a> 
      &nbsp;&middot;&nbsp; 
      <a href="/privacy">Privacy Policy</a>
    </p>
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright {{ now.Format "2006"}} 
       &nbsp;
       <i class="icon-heart" aria-hidden="true"></i> 
       &nbsp;
       <a href="https://www.designedbyaturtle.co.uk/">Designed by a Turtle</a>
    {{ end }}
    </p>
</footer>
