<script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ .Site.BaseURL }}js/jquery-3.5.0.slim.min.js"><\/script>');</script>

<!-- Important to have before scripts, as ga() is used in scripts -->
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-65854395-1','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<script src="{{ .Site.BaseURL }}js/clipboard-2.0.6.min.js"></script>
{{ $mainJs := resources.Get "js/main.js" | resources.Minify | fingerprint }}
<script src="{{ $mainJs.Permalink }}"></script>

{{ if eq .Title "Search" }}
    <script src="{{ .Site.BaseURL }}js/fuse-3.4.5.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/jquery.mark-8.11.1.min.js"></script>
	{{ $searchJs := resources.Get "js/search.js" | resources.Minify | fingerprint }}
	<script src="{{ $searchJs.Permalink }}"></script>
{{ end }}

<script src="{{ .Site.BaseURL }}js/highlight.pack-9.17.1.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{ range .Site.Params.customJS }}<script src="{{ $.Site.BaseURL }}{{ . }}"></script>{{ end }}

{{ if eq .Type "post" }}<script src="https://platform.twitter.com/widgets.js" crossorigin="anonymous" async defer charset="utf-8"></script>{{ end }}
{{ if eq .Title "About" }}<script src="https://platform.twitter.com/widgets.js" crossorigin="anonymous" async defer charset="utf-8"></script>{{ end }}