
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script>
   window.jQuery || document.write('<script src="{{ .Site.BaseURL }}js/jquery-3.3.1.min.js"><\/script>');
</script>

<script src="{{ .Site.BaseURL }}js/highlight.min.js"></script>
<script src="{{ .Site.BaseURL }}js/highlight-go.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ range .Site.Params.customJS }}<script src="{{ $.Site.BaseURL }}{{ . }}"></script>{{ end }}

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-65854395-1','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<!-- Disqus: Blog Comments -->
<script type="text/javascript" async defer>
    var disqus_shortname = '{{ .Site.Params.disqusShortname }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<!-- Twitter: Follow Button -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>