<ul id="post-list">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if ne $url "about/" }}
            {{ if ne $url "search/" }}
                <li>
                    <a href='{{ .Permalink }}' class="post-title">{{ .Title }}</a>
                    <p>{{ .Summary | plainify | htmlUnescape }}</p>
                    <span class="tags">
                        {{ with .Params.tags }}
                            {{ if ge (len .) 1 }}
                                {{ range . }}
                                    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a>
                                {{ end }}
                            {{ end }}
                        {{ end}}
                    </span>
                </li>
            {{ end }}
        {{ end }}
    {{ end }}
</ul>
